footer.footer
  .wrap
    p
      | Follow me on
      = " "
      a(href="https://twitter.com/DennisReimann") Twitter
      = " or "
      a(href="https://github.com/DennisReimann") GitHub
      |.
    p
      a(href="/donate.html") Support me
      = " with a donation."

  .wrap
    if article
      p
        | Published at block height #{article.block}
        if article.date
          = ` (${article.date})`
        | .
        if article.filename
          = ' '
          a(href=`https://github.com/dennisreimann/d11n.net/blob/master/articles/${article.filename}`) (GitHub)
    if siteData
      p
        | Website last updated at block height #{siteData.block}
        if siteData.date
          = ` (${siteData.date})`
        | .
